<h1>Listing threats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @threats.each do |threat| %>
  <tr>
    <td><%= threat.name %></td>
    <td><%= threat.description %></td>
    <td><%= threat.image_url %></td>
    <td><%= link_to 'Show', threat %></td>
    <td><%= link_to 'Edit', edit_threat_path(threat) %></td>
    <td><%= link_to 'Destroy', threat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Threat', new_threat_path %>
